:root {
  /* pointer + transform vars */
  --pointer-x: 50%;
  --pointer-y: 50%;
  --pointer-from-center: 0;
  --pointer-from-top: 0.5;
  --pointer-from-left: 0.5;
  --card-opacity: 0;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --background-x: 50%;
  --background-y: 50%;
  --card-scale: 1;
  --translate-x: 0px;
  --translate-y: 0px;

  /* textures + colors */
  --grain: url(https://assets.codepen.io/13471/grain.png);
  --metafy: url(https://assets.codepen.io/13471/metafy-repeat.png);
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);

  --card-radius: 6.55% / 4.75%;
}

.card-wrapper {
  perspective: 500px;
  position: relative;
  touch-action: none;
}

.card-wrapper:hover,
.card-wrapper.active {
  --card-opacity: 1;
}

#card {
  height: 80svh;
  max-height: 540px;
  display: grid;
  aspect-ratio: 0.718;
  border-radius: var(--card-radius);
  position: relative;
  animation: glow-bg 12s linear infinite;
  transition: transform 1s ease;
  background-size: 100% 100%;
  overflow: hidden;
}

#card:hover,
#card.active {
  transition: none;
  transform: rotateX(var(--rotate-y)) rotateY(var(--rotate-x));
}

#card * {
  display: grid;
  grid-area: 1/-1;
  border-radius: var(--card-radius);
  pointer-events: none;
}

#card .inside {
  inset: 1px;
  position: absolute;
  background-image: linear-gradient(145deg, #60496e8c 0%, #71C4FF44 100%);
  background-color: rgb(0 0 0 / 90%);
}

.card__shine {
  mask-image: var(--metafy);
  mask-mode: luminance;
  mask-repeat: repeat;
  mask-size: 150%;
  transition: filter .6s ease;
  filter: brightness(.66) contrast(1.33) saturate(.33) opacity(0.5);
  animation: holo-bg 18s linear infinite;
  mix-blend-mode: color-dodge;
}

#card:hover .card__shine,
#card.active .card__shine {
  filter: brightness(.85) contrast(1.5) saturate(.5);
  animation: none;
}

#card .card__glare {
  transform: translate3d(0, 0, 1.1px);
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(248, 25%, 80%) 12%,
    hsla(207, 40%, 30%, .8) 90%
  );
  mix-blend-mode: overlay;
  filter: brightness(.8) contrast(1.2);
  z-index: 4;
}

#card .avatar__content {
  mix-blend-mode: color-dodge;
}

#card .avatar__content .avatar {
  border-radius: 200px;
  max-width: 80%;
  margin: 10% auto;
  position: relative;
  opacity: calc(1.75 - var(--pointer-from-center));
  box-shadow: rgba(0, 0, 0, 0.6)
    calc((var(--pointer-from-left) * 6px) - 2px)
    calc((var(--pointer-from-top) * 14px) - 4px)
    20px -3px;
}

.card__content {
  padding: 1em;
  text-align: center;
  position: bottom;
  z-index: 5;
}

#card .card__details {
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 20em;
}


.card__details h3 {
  font-weight: 600;
  font-size: min(4svh, 2em);
  margin: 0;
  background-image: linear-gradient(to bottom, white, #aaaadd);
  background-size: 1em 1.5em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;   /* vendor prefix */
  background-clip: text;           /* standard property */
  mix-blend-mode: plus-lighter;
}



.card__details p {
  color: white;
  text-shadow: 0 -1px 1px black;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  padding: 0.35em 1.25em;
  border-radius: 2em;
  box-shadow: 0 0 0 1px #14181d,
    rgba(0, 0, 0, 0.6)
    calc((var(--pointer-from-left) * 6px) - 2px)
    calc((var(--pointer-from-top) * 14px) - 4px)
    15px -5px;
  box-align:bottom;
}

@keyframes glow-bg {
  0% { --bgrotate: 0deg; }
  100% { --bgrotate: 360deg; }
}

@keyframes holo-bg {
  0% { background-position: 0% var(--background-y), 0% 0%, center center; }
  100% { background-position: 0% var(--background-y), 90% 90%, center center; }
}

.socials { display: flex; gap: 15px;}



.socials img {
  width: 28px;                /* small size */
  height: 28px;
  object-fit: contain;
  margin: 10px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}


